*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(135,77,196,0.9628712871287128) 35%, rgba(86,247,19,1) 91%, rgba(0,212,255,1) 100%);
    display: flex;
    height: 100vh;

}
.contenedor{
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
}
.form{
    align-items: center;
    background-color: #fff;
    margin-left: 50px;
    border-radius: 5%;
    -webkit-box-shadow: 10px 15px 5px 0px rgba(174,233,235,1);
    -moz-box-shadow: 10px 15px 5px 0px rgba(174,233,235,1);
    box-shadow: 10px 15px 5px 0px rgba(174,233,235,1);
}
.contenedor img{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-left: 30%;
    
}
.contenedor h1{
    text-align: center;
    margin-top: 30px;
    
    
}
.contenedor p{
    text-align: center;
    margin-top: 10px;
    color: rgba(3, 3, 3, 0.507);
    font-size: small;
    
}
.contenedor button{
   color: #fff;
   background-color: rgba(3, 3, 3, 0.5);
   border-color:  rgba(3, 3, 3, 0.5);
   border-radius: 5%;
   margin-top: 10px;
   margin-left: 25%;
   margin-bottom: 10px;
   width: 150px;
   height: 30px;
   border-radius: 5%;
}